:root {
  font-size: 62.5%;
  font-family: "Kanit", sans-serif;
  --logout-btn-color: #ca79c6;
  --logout-cancel-btn-color: #fff;
  --logout-cancel-btn-color-shadow: 0 0.4rem 1.5rem
    var(--logout-cancel-btn-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.loginmodalcont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding: 0 5rem;
}
.loginmodalcont__cancelbtn {
  background-color: var(--logout-cancel-btn-color);
  color: var(--logout-btn-color);
  box-shadow: var(--logout-cancel-btn-color-shadow);
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
}
.loginmodalcont__logoutbtn {
  background-color: var(--logout-btn-color);
  color: var(--logout-cancel-btn-color);
  border: none;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 4.5rem;
}
.loginmodal__header {
  font-size: 2.4rem;
  font-family: Helvetica, sans-serif;
}
