@import url("./styles/final/styles.css");
@import url("./styles/dashboard/styles/styles.css");
@import url("./styles/databoard/styles/styles.css");
@import url("./styles/report/styles/styles.css");
.india__flag {
  height: 1.6rem;
  width: 1.6rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.made__in__india {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.registered__by__lowsoot {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.invisible {
  visibility: hidden;
}
.hide {
  display: none;
}
